.farmacia-cards{
    width: 100%;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    gap: 50px;
    justify-content: center;
    margin: 10px;
    div{
        text-align: center;
        align-items: center;
        border: 1px solid black;
        font-size: 15px;
        width: 200px;
        img{
            height: 200px;
            width: 200px;
        }
    }
    
}

.swal2-styled.swal2-confirm.swalBtnColor {
    color: white;
  }